/*
Main Style, this is native css
*/

html {
  --mv1: #de1339;
  --mv2: #c01031;
  --mv3: #202b38;
  --fonts: "Commissioner", sans-serif, serif;
  --dp: 8px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #fff;
  color: var(--mv3);
  font-family: var(--fonts);
  font-size: 16px;
}
input, textarea, button {
  display: block;
  border: 0;
  font-family: var(--fonts);
}
:focus {
  outline: 0;
}
a {
  color: var(--mv1);
  text-decoration: none;
  cursor: pointer;
}
img {
  max-width: 100%;
}
ul, ol {
  list-style: none;
}
.fl {
  display: flex;
}
.fl.fl-ca {
  align-items: center;
}
.fl.fl-sta {
  align-items: flex-start;
}
.fl.fl-cj {
  justify-content: center;
}
.fl.fl-cc {
  justify-content: center;
  align-items: center;
}
.fl.fl-sbj {
  justify-content: space-between;
}
.fl.fl-wr {
  flex-wrap: wrap;
}
.fl.fl-dco {
  flex-direction: column;
}
.fl.fl-ej {
  justify-content: flex-end;
}
.po.ab {
  position: absolute;
}
.po.re {
  position: relative;
}
.po.fi {
  position: fixed;
}
.po.__vh0,
.po.__vh1 {
  top: 0;
  left: 0;
  right: 0;
}
.po.__vh0 {
  bottom: 0;
}
.container {
  max-width: calc(var(--dp) * 144);
  margin: 0 auto;
  padding: 0 calc(var(--dp) * 2);
}
